###Linux###

*~

# KDE directory preferences
.directory


###OSX###

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

znc/conf/

*.swp
*.swo

itunes/iTunesSetup.exe
yubikey/
kiwi-builder/artifacts
